server {
  listen 	80;
  server_name 	localhost;

  access_log  /var/log/nginx/localhost.access.log  main;
  root /var/www/html;

  location / {
    include       /etc/nginx/mime.types;
    try_files $uri $uri/index.php;
  }

  location /modules/wiki/ {
    include       /etc/nginx/mime.types;
    try_files $uri $uri?$args /modules/wiki/admin.php;
  }

  location ~ \.css {
    root /app;
    add_header  Content-Type    text/css;
  }

  location ~ \.ttf {
    root /app;
    add_header  Content-Type    font/ttf;
  }
  
  location ~ \.js {
    root /app;
    add_header  Content-Type    application/x-javascript;
  }

  location ~ \.php$ {
    include       /etc/nginx/mime.types;
   # fastcgi_pass [PHP_FPM_LINK_NAME]:9000;
    client_max_body_size 100M;
    fastcgi_pass phpfpm:9000;
    fastcgi_index index.php;
    include fastcgi.conf;
    fastcgi_read_timeout 3000;
  }

}
